.expense-card {
  &__header {
    align-items: center;
    background-color: #fff !important;
    border-radius: 1rem !important;
    border: none !important;
    display: flex;
    margin-bottom: 1rem;

    .details {
      display: flex;
      align-items: center;
      margin-left: auto;

      button {
        margin-left: 1rem;
        border: 0;
        background-color: transparent;
      }
    }

    .icon {
      width: 20px;
      height: 20px;
      margin-right: 1rem;
    }

    .icon-income {
      background-color: red;
    }

    .icon-expense {
      background-color: blue;
    }

    .icon-blank {
      background-color: gray;
    }
  }

  .delete-button {
    background: $red-100 !important;
    border: 2px solid $red-200; 
  }
}
