.modal {
  &__form {
    .form-control {
      border-radius: 0;
      border: none;
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0;

      label {
        font-weight: 900;
        margin-bottom: 0.2rem;

        p {
          color: $gray-200;
          font-weight: 100;
          font-size: 1rem;
        }
      }

      input[type="text"],
      input[type="number"],
      input[type="date"] {
        border-radius: 2px;
        border: 1px solid $gray-100;
        display: block;
        font-size: 16px;
        padding: 10px;
        width: 100%;
      }
    }
  }
}
