.home {

  &__container {
    position: relative;
    height: 100%;
    overflow: auto;

    .custom-button {
      position: fixed;
      bottom: 1rem;
      left: 50%;
      transform: translate(-50%, -50%);
    };
  }
}
