.home {
  .container {
    height: calc(100vh - 90px);
  }

  &__container {
    position: relative;
    overflow: auto;
    height: calc(100% - 290px);
    display: flex;
    align-items: center;
    width: 100%;

    .custom-button {
      position: fixed;
      bottom: 1rem;
      left: 50%;
      transform: translate(-50%, -50%);
    };
  }
}
