.month-header {
  align-items: center;
  background-color: $blue-100 !important;
  border-radius: 0 0 1.5rem 1.5rem;
  color: $white-primary;
  font-weight: 400;
  margin-bottom: 1rem !important;
  padding: 1rem;

  .nav-item {
    color:  $white-primary;
    font-size: 1.6rem;
    font-weight: 800;
  }

  .nav-item > div {
    color: $gray-200;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 1rem;
  }

  & > div {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}


